boto
certifi
chardet
Click
dj-database-url
enum34
Flask
Flask-Assets
Flask-Env
flask-mongoengine
Flask-Scss
Flask-Session
Flask-WTF
gunicorn
idna
itsdangerous
Jinja2
lazy-object-proxy
MarkupSafe
mongoengine
nltk
oauthlib
pathlib
Pillow
psycopg2
pymongo
pyScss
python-dotenv
pytz
requests
requests-oauthlib
singledispatch
six
urllib3
virtualenv
webassets
Werkzeug
whitenoise
WTForms
